<article class="flex flex-col justify-center gap-8 text-gray-300 md:flex-row items-center">

    <div class="flex flex-col gap-4 text-pretty order-2 md:order-1 text-lg">

        <p>Hola! Soy Alan Israel, <strong>desarrollador y programador web</strong>, actualmente estoy estudiando la carrera de Ingeniería en Computación en la <strong>Universidad Nacional Autónoma de México (UNAM).</strong></p>

        <p>
            Me encanta el área de desarrollo web, en especial el rendimiento y diseño de interfaces para mejorar la <strong>experiencia</strong> del usuario. 
            
        </p>
        
        <p>
            Me considero una persona creativa y lo reflejo en mis proyectos, tratando de hacerlo siempre ver original y con el mejor rendimiento.
        </p>
    </div>

    <img width="200" height="200" class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-full" src="./pic/me.webp" alt="Foto de Alan Israel">

</article>
